<div class="col-md-8 offset-md-3">
    <h3>UpdateEmployee Employee</h3>
    <form (ngSubmit)="OnSubmit()">
    <div class="form-group">
     <label>First Name</label>
     <input type="text" class="form-control" id="firstName" 
    [(ngModel)]="employee.firstName" name="firstName" required />
    </div>
    <div class="form-group">
        <label> Last Name</label>
        <input type="text" class="form-control" id="lastName" 
        [(ngModel)]="employee.lastName" name="lastName" required />
       </div>
       <div class="form-group">
        <label>Email Id</label>
        <input type="text" class="form-control" id="emailId" 
        [(ngModel)]="employee.emailId" name="emailId" required  />
       </div>
       <button class="btn btn-success" type="submit">Submit</button>
    </form>
    </div>